@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('{{ asset("image/wibu.jpg") }}');
    /* background-color: antiquewhite; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}




.section {

    position: relative;
    max-width: 400px;
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;

}




h1 {
    font-size: 2rem;
    color: #3c01bb;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #000000;
    text-align: center;
    text-align: left;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 500px;
    border-bottom: 2px solid #2d1daa;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #2d1daa;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 50px;
    color: #2d1daa;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #2d1daa;
    font-size: 1.2rem;
    top: 20px;
}

.forget {
    margin: 35px 0;
    font-size: 0.85rem;
    color: #2d1daa;
    display: flex;
    justify-content: space-between;

}

.forget label {
    display: flex;
    align-items: right;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    color: #b81b1b;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(107, 110, 251);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.btn {
    margin-top: 35px;
}

.error {
    font-size: 13px;
    color: red;
    padding-right: 7px;
}

.move-left {
    text-align: left;
    margin-top: 4px; /* Sesuaikan margin sesuai kebutuhan */
  }